#!/usr/bin/env bash

# You should not need to modify this file, it's purpose is to
# remember the path to the real configuration, and load it
# from "$DATA_BASE_PATH"/config.sh
#
# This keeps it all under a single directory tree, to make backups
# simple.
#

export SCRIPT_BASE_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"

export DATA_BASE_PATH=<PATH_GOES_HERE>

source "$DATA_BASE_PATH"/config.sh
