#!/usr/bin/env bash

export DATA_BASE_PATH=/home/user/data
export INFLUXDB_ADMIN_USER=admin
export INFLUXDB_ADMIN_PASSWORD=admin
export LETS_ENCRYPT_EMAIL_ADDRESS=support@example.com

# On AWS you can find these addresses by:
# curl http://169.254.169.254/latest/meta-data/public-ipv4
# curl http://169.254.169.254/latest/meta-data/local-ipv4

export PUBLIC_IP=127.0.0.1
export PRIVATE_IP=127.0.0.1
export PRIVATE_PORT=8080
