/*
!.gitignore
!config.sh
!/applications-internal
!/applications-internal/*
!/applications-public
!/applications-public/*
!/docker
!/docker/conf
!/docker/conf/*
/docker/storage
!/haproxy-internal
!/haproxy-internal/*
!/haproxy-public
!/haproxy-public/*
!/telegraf
!/telegraf/telegraf.conf
!/verdaccio
!/verdaccio/conf
!/verdaccio/conf/*
/verdaccio/storage
