global
    log         127.0.0.1 local2
    maxconn     4000

    # Explicitly set Lua boolean conversion (required in HAProxy 3.1+)
    tune.lua.bool-sample-conversion normal

    lua-prepend-path /usr/local/etc/haproxy/?/json.lua
    lua-prepend-path /usr/local/etc/haproxy/?/http.lua
    lua-load /usr/local/etc/haproxy/auth-request.lua

    # generated 2026-09-02, TLSRef Guideline v6.0, HAProxy 3.4.4, OpenSSL 3.5.7, intermediate config, gitrev=d96f668
    # https://configurator.tlsref.org/#server=haproxy&version=3.4.4&config=intermediate&openssl=3.5.7&guideline=6.0
    ssl-default-bind-curves X25519MLKEM768:X25519:prime256v1:secp384r1
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers ssl-min-ver TLSv1.2 no-tls-tickets

    ssl-default-server-curves X25519MLKEM768:X25519:prime256v1:secp384r1
    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305
    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options ssl-min-ver TLSv1.2 no-tls-tickets

    # openssl dhparam -out "$DATA_BASE_PATH"/haproxy-public/dhparam 2048
    ssl-dh-param-file /usr/local/etc/haproxy/dhparam

    # look for foo.key instead of foo.crt.key
    ssl-load-extra-del-ext

resolvers dns_resolver
    parse-resolv-conf

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          5m
    timeout server          5m
    timeout tunnel          1h
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

    # allows proxy to start immediately when some/all backends are not available
    default-server init-addr none

{{TCP_LISTEN}}

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend external
     bind *:8000
     bind *:4430 ssl crt /etc/haproxy/ssl/certs alpn h2,http/1.1

    filter compression
    compression algo gzip

    http-request set-header Connection "upgrade" if { hdr(Upgrade) -i websocket }
    http-request set-header Upgrade %[req.hdr(Upgrade)]

    http-request set-var(req.scheme) str(https) if { ssl_fc }
    http-request set-var(req.scheme) str(http) if !{ ssl_fc }
    http-request set-var(req.questionmark) str(?) if { query -m found }

    # Required Headers for ForwardAuth (Authelia)
    http-request set-header X-Real-IP %[src]
    http-request set-header X-Forwarded-Method %[method]
    http-request set-header X-Forwarded-Proto %[var(req.scheme)]
    http-request set-header X-Forwarded-Host %[req.hdr(Host)]
    http-request set-header X-Forwarded-Uri %[path]%[var(req.questionmark)]%[query]

{{FORWARD_AUTH_ACL}}

{{USE_BACKENDS}}

    default_backend             no-match

#---------------------------------------------------------------------
# stats frontend which powers victoriametrics prometheus scraping
#---------------------------------------------------------------------
frontend stats
   bind *:8404
   http-request use-service prometheus-exporter if { path /metrics }
   stats enable
   stats uri /stats
   stats refresh 10s

{{BACKENDS}}

backend no-match
    http-request deny
